@using MVCDemo.Models.Demo
@model DemoIndexViewModel
@{
    ViewData["Title"] = "Blazor Demos";
}

<div class="text-center">
    <h1 class="display-4">Blazor Demos</h1>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Counter">Counter Demo</a><br />
        <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="UserInfo">User Info</a><br />
        @*@if (Model.IDSvr6Enabled)
        {*@
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TokenTest">API Token Test</a><br />
        @*}*@
        <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Forecast">Weather Forecast</a><br />
    </p>
</div>
